<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-8">
        <div class="flex flex-nowrap">
          <input
            class="form-input rounded-r-none"
            placeholder="Type to srarch...."
            type="search"
            name="search"
            id="search"
          />
          <button class="btn btn-primary rounded-l-none" type="submit">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
