<div class="rounded bg-light p-8 text-center dark:bg-darkmode-light">
  <img
    class="mx-auto mb-6 rounded"
    height="120"
    width="120"
    src="images/avatar.png"
    alt="author"
  />
  <h4 class="mb-3">
    <a href="author-single.html">John Doe</a>
  </h4>
  <p class="mb-4">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti eligendi
    provident consequatur lau.
  </p>
  <ul class="social-icons">
    <li>
      <a href="#">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-brands fa-twitter"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-brands fa-github"></i>
      </a>
    </li>
  </ul>
</div>
