<div class="tab" data-tab-group="tab-group-name">
  <ul class="tab-nav" data-tab-nav>
    <li class="tab-nav-item active" tabindex="0" data-tab="0">Tab 1</li>
    <li class="tab-nav-item" tabindex="-1" data-tab="1">Tab 2</li>
    <li class="tab-nav-item" tabindex="-1" data-tab="2">Tab 3</li>
  </ul>
  <div class="tab-content" data-tab-content>
    <div class="tab-content-panel active" data-tab-panel="0">
      <h5 class="mt-0">This is Tab 1</h5>
      <p>
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimatsanctus est Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        diam nonumy eirmod tempor rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="tab-content-panel" data-tab-panel="1">
      <h5 class="mt-0">This is Tab 2</h5>
      <p>
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Stet clita kasd gubergren, no sea takimatsanctus est Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
        diam nonumy eirmod tempor
      </p>
    </div>
    <div class="tab-content-panel" data-tab-panel="2">
      <h5 class="mt-0">This is Tab 3</h5>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
        doloribus aspernatur maiores quaerat iste maxime vitae aperiam est
        itaque labore facere tempora iusto, enim, omnis corporis nihil ratione
        saepe soluta!
      </p>
    </div>
  </div>
</div>
