<!-- Call to actions -->
<section class="mb-28">
  <div class="container">
    <div class="rounded-xl bg-light px-4 py-16 dark:bg-darkmode-light xl:p-20">
      <div class="row items-center justify-between">
        <div class="mb-10 md:col-5 lg:col-4 md:order-2 md:mb-0">
          <img
            class="w-full"
            src="images/call-to-action.png"
            width="392"
            height="390"
            alt="cta-image"
          />
        </div>
        <div class="md:col-7 md:order-1">
          <h2 class="mb-2">
            Create an account and begin using our platform today.
          </h2>
          <p class="mb-6">
            a familiar all in a familiarrfo prioritize interfaceprior nd
            sosolveGustorr requests- all ir. a familiar all in a familiarrfo
            prioritize interfac eprior and solvea .solveGustormer requests- all
            ir.
          </p>
          <a class="btn btn-primary" href="#">Start your free trial</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /Call to actions -->
