<section>
  <div class="container text-center">
    <div
      class="rounded-2xl bg-linear-to-b from-body to-light px-8 py-14 dark:from-darkmode-body dark:to-darkmode-light"
    >
      <h1>@@title</h1>
      <ul class="breadcrumb mt-6 inline-flex">
        <li class="mx-1 capitalize">
          <a class="text-primary dark:text-darkmode-primary" href="#">Home</a>
        </li>
        <li
          class="mx-1 capitalize text-text-light dark:text-darkmode-text-light"
        >
          <span class="inlin-block mr-1">/</span>
          @@title
        </li>
      </ul>
    </div>
  </div>
</section>
